node_modules
dist
.turbo
*.tsbuildinfo
.git
.github
.env
.env.local
.env.example
coverage
.worktrees
.spatula
docs
tests
*.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!turbo.json
!tsconfig.base.json
